<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <ul>
        <li><a class="active" href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('list')}}">List</a></li>
    </ul>
    <div >
        {% for user in users%}
            <h1>Username: <I>{{user.username}}</I></h1>
            <div>
                <p>Band: {{user.band1}}</p>
                <p>Band: {{user.band2}}</p>
                <p>Band: {{user.band3}}</p>
            </div>
        {%endfor%}
    </div>
</body>
</html>