<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <ul>
        <li><a class="active" href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('list')}}">List</a></li>
        <li style="float:right"><a href="{{url_for('update')}}">Update</a></li>
    </ul>
    <h1>Leave the update band option blank if you dont want to update the band</h1>
    <form method="POST">
        <div>
           <input type="text" name="userr" id="userr" placeholder="Your Username" required><br>
           <input type="email" name="em" id="em" placeholder="Your Email" required><br>
           <input type="number" name="pin" id="pin" placeholder="Your Pin" maxlength="4" minlength="4"><br>
           <input type="text" name="b1" id="b1" placeholder="Update Band 1" ><br>
           <input type="text" name="b2" id="b2" placeholder="Update Band 2"><br>
           <input type="text" name="b3" id="b3" placeholder="Update Band 3">
           
           </div >
           <button type="submit">Update</button>
       </form>
        
</body>
</html>